/* Historia cen
================================================== */
.property-related {
    background: #f4f4f4;
    padding: 12px;
    h5 {
        padding: 0 8px 10px;
        margin-bottom: 2px;
        border-bottom: 1px solid #dee2e6;
        font-size: 17px;
    }
    .table {
        margin-bottom: 0;
    }
    .table > :not(caption) > * > * {
        background: none;
    }
    .table tbody td {
        padding: 7px;
    }
}
.property-summary {
    padding: 20px;
    background: #2c3e50;
    color: white;
}
.property-offer-check p {
    font-size: 12px;
}

#offerModal {
    .dropdown {
        width: 100%;
    }
    .dropdown-toggle {
        background: #2c3e50;
        border-radius: 3px;
        border: 0;
        padding: 12px 20px;
        color: white;
        font-size: 15px;
        &:after {
            margin-left: .255em;
            border-top: .5em solid;
            border-right: .5em solid transparent;
            border-left: .5em solid transparent;
            display: block;
        }
    }
    .dropdown-menu {
        background: #e3e3e3;
        li {
            a {
                background: white;
                margin-top: 2px;
                color: black;
                font-size: 14px;
                &.selected, &.selected:hover {
                    background: #2c3e50;
                    color: white;
                }
                &:hover {
                    background: #cfab6f;
                    color: white;
                }
            }
        }
    }
    .bs-searchbox {
        padding: 10px;
        .form-control {
            background: #fff;
            border: 1px solid #c8c8c8;
            border-radius: 3px;
        }
    }
    .dropdown-menu.inner {
        padding: 0 10px 10px;
    }

    #relatedProperty {
        h2 {
            font-size: 24px !important;
        }
        li {
            padding: 5px 0;
            border-bottom: 1px solid #dfdfdf;
            &:last-child {
                border:0
            }
            strong {
                font-weight: 600;
            }
        }
    }
}

#priceHistoryModal {
    .modal-header, .modal-footer {
        background: #003761;
    }
    .modal-header .btn-close {
        --bs-btn-close-color: #fff;
        --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    }
    .modal-footer {
        .bttn {
            color: #003761;
            justify-content: center;
            padding: 10px 50px;
        }
    }
    .modal-content {
        td {
            line-height: 1.2;
            vertical-align: middle;
        }
        small {
            color: #848282
        }
    }
}

.custom-button {
    background: #003761;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 13px;
}


